<h1>Login en Rubystudent</h1>
<p>Por favor ingrese sus credenciales:</p>

<% if flash[:error] %>
	<div class="alert alert-danger" role="alert">
		<%= flash[:error] %>
	</div>
<% end %>

<%= form_for :session, url: login_path do |f| %>
	<div class="form-group">
	<%= f.label :email %>
	<%= f.email_field :email, class: "form-control", placeholder: "Tu Email" %>
	</div>
	<div class="form-group">
		<%= f.label :password %>
		<%= f.password_field :password, class: "form-control" %>
	</div>
	<div class="btn-group">
		<%= button_tag type: "submit", class: "btn btn-default btn-lg" do %>
			<span class="fa fa-sign-in"></span>
			Login
		<% end %>
	</div>
<% end %>
