<p>
	<%= f.label :name, "Nombre" %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :email %>
	<%= f.email_field :email %>
</p>
<p>
	<%= f.label :phone, "Telefono" %>
	<%= f.text_field :phone %>
</p>
<p>
	<%= f.label :career_id, "Carrera" %>
	<%= f.select :career_id, Career.pluck(:name, :id) %>
</p>
<p>
	<%= f.label :birthday_at, "Nacio en" %>
	<%= f.date_field :birthday_at %>
</p>