<h1>Editar Estudiante</h1>
<p><em>Ingrese los datos necesarios: </em></p>

<%= render partial: "shared/errors", locals: { obj: @student } %>

<%= form_for @student do |f| %>
	<%= render partial: "form", locals: {f: f} %>
	<p>
		<%= f.label :graduation_index %>
		<%= f.number_field :graduation_index %>
	</p>
	<p>
		<%= f.submit "Actualizar" %>
		<%= link_to "Cancelar", @student %>
		<%= link_to "Borrar", @student, method: :delete, data: {confirm: "Estas Seguro?"}  %>
	</p>
<%- end %>
