<%= index_title %>
<p><%= index_description %></p>

<% if flash[:notice] %>
	<div style="background: yellow">
		<%= flash[:notice] %>
	</div>
<% end %>

<table border="1">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Email</th>
			<th>Telefono</th>
		</tr>
	</thead>
	<tbody>
		<%= render @students %>
	</tbody>
</table>

<p>
	<%= link_to "Agregar Estudiante", new_student_path %>
</p>
