<%= index_title %>
<p><%= index_description %></p>

<% if flash[:notice] %>
	<div style="background: yellow">
		<%= flash[:notice] %>
	</div>
<% end %>

<table border="1" class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Email</th>
			<th>Carrera</th>
		</tr>
	</thead>
	<tbody>
		<%= render @students %>
	</tbody>
</table>

<table>
	<tbody>
		<td><%= link_to "Agregar Estudiante", new_student_path, class: "btn btn-default" %></td>
		<td><%= link_to "Ranking", ranking_students_path, class: "btn btn-default" %></td>
		<td><%= link_to "Supremes", supremes_students_path, class: "btn btn-default" %></td>
	</tbody>
</table>

