<h1>Agregar Estudiante</h1>
<p><em>Ingrese los datos necesarios: </em></p>

<%- if @student.errors.any? %>
	<div>
		Por favor corrija los siguientes problemas:
		<ul>
			<%- @student.errors.full_messages.each do |msg| %>

				<li><%= msg %></li>	
			<%- end %>
		</ul>
	</div>
<% end %>

<%= form_for @student do |f| %>
	<p>
		<%= f.label :name, "Nombre" %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</p>
	<p>
		<%= f.label :phone, "Telefono" %>
		<%= f.text_field :phone %>
	</p>
	<p>
		<%= f.label :birthday_at, "Nacio en" %>
		<%= f.date_field :birthday_at %>
	</p>
	<p>
		<%= f.submit "Crear" %>
		<%= link_to "Cancelar", students_path %>
	</p>
<%- end %>
