<h1><%= @student.name %></h1>
<p>Los Datos del Estudiante:</p>
<ul>
	<li>
		Email:
		<strong><%= @student.email %></strong>
	</li>
	<li>
		Telefono:
		<strong><%= @student.phone %></strong>
	</li>
	<li>
		Carrera:
		<strong><%= @student.career.try(:name) %></strong>
	</li>
	<li>
		Nacio en:
		<strong><%= nice_date(@student.birthday_at) %></strong>
	</li>
</ul>

<%= render partial: "student_trophies", locals: {trophies: @student.trophies} %>

<p>
	<table>
		<tr>
			<td><%= link_to "Nuevo trofeo", new_student_trophy_path(@student) %></td>
			<td><%= link_to "Editar Alumno", edit_student_path %></td>
			<td><%= link_to "Estadisticas", statistic_student_path(@student) %></td>
		</tr>
	</table>
	
</p>
