<div class="form-group">
	<%= f.label :slug %>
	<%= f.text_field :slug, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :name, "Nombre" %>
	<%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :orientation %>
	<%= f.select :orientation, Career.orientation_types, {}, class: "form-control" %>
</div>
