<h1>Editar Carrera</h1>
<p><em>Ingrese los datos necesarios: </em></p>

<%= render partial: "shared/errors", locals: { obj: @career } %>

<%= form_for @career do |f| %>
	<%= render partial: "form", locals: {f: f} %>
	<p>
		<%= f.submit "Actualizar" %>
		<%= link_to "Cancelar", careers_path %>
	</p>
<%- end %>
