<h1>Nuevo Trofeo</h1>
<h2>Para <%= @student.name %></h2>

<div>
	<%= render partial: "shared/errors", locals: { obj: @trophy } %>

	<%= form_for [@student, @trophy] do |f| %>
		<p>
			<%= f.label :description, "Descripcion" %>
			<br>
			<%= f.text_area :description %>
		</p>
		<p>
			<%= f.label :points, "Puntos" %>
			<%= f.number_field :points %>
		</p>
		<p>
			<%= f.submit "Agregar Trofeo" %>
			<%= link_to "Cancelar", @student %>
		</p>
	<% end %>
</div>
