<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul class="nav nav-pills">
		<li role="presentation">
			<%= link_to root_path do %>
				<span class="fa fa-home"></span>
				Home
			<% end %>
		</li>
		<li role="presentation">
			<%= link_to students_path do %>
				<span class="fa fa-graduation-cap"></span>
				Estudiantes
			<% end %>
			</li>
		<li role="presentation">
			<%= link_to careers_path do %>
				<span class="fa fa-book"></span>
				Carreras
			<% end %>
		</li>
	</ul>

	<div class="container-fluid">
		<%= yield %>	
	</div>
	
</body>
</html>
